@model HMO.DTO.VaccinationDTO
@if (ViewBag.texti != "good")
{
    <div class="alert alert-danger">@ViewBag.texti</div>
}
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<h4>CoronaVaccine</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MemberIdentityCard" class="control-label"></label>
                @if (ViewData["MemberId"] != null)
                {
                    <input asp-for="MemberIdentityCard" class="form-control" readonly value="@ViewData["MemberId"]" />
                }
                else
                {
                    <input asp-for="MemberIdentityCard" class="form-control" />
                }
                <span asp-validation-for="MemberIdentityCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateVaccine" class="control-label"></label>
                <input asp-for="DateVaccine" class="form-control" id="today" type="date" />
                <span asp-validation-for="DateVaccine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerVaccine" class="control-label"></label>
                <input asp-for="ManufacturerVaccine" class="form-control" />
                <span asp-validation-for="ManufacturerVaccine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </form>        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const currentDate = new Date().toISOString().split('T')[0];
        document.getElementById('today').value = currentDate;
        document.getElementById('today').setAttribute('max', currentDate);
    </script>
}

