@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<hr/>
 
<h7>Privacy Policy for Internal HMO Staff System</h7>

<br/>
<br/>

<p>Effective date: March 19, 2024</p>

<br/>

<h3>Welcome to our internal Health Maintenance Organization (HMO) staff system. This privacy policy outlines how we handle and protect the personal information of our health fund members within the internal system.</h3>

<br/>
<br/>

<h4>Information we collect:</h4>

<p>
   For health fund members:
    <br>
    - Name
    <br>
  - Member ID
    <br>
  - Date of birth
    <br>
  - Contact details and address
    <br>
  - Health-related information
</p>

<h4>How we use the member information:</h4>

<p>
    We collect and use personal information of health fund members for internal administrative purposes related to managing health insurance records and facilitating healthcare services within the organization.

<h4>Data Security:</h4>

<p>
    prioritize the security of member data within our internal system and have implemented measures to protect it, including access controls and regular security audits to prevent unauthorized access.
</p>
<h4>Sharing information:</h4>

<p>
    We do not disclose personal information of health fund members to external parties unless required by internal policies or applicable laws for essential internal processes related to health insurance claims, medical care, or immunization administration.
</p>
<h4>Member Rights:</h4>

<p>
    Members have the right to request updates or corrections to their personal information stored within the system. If members have any concerns about the privacy of their data or wish to exercise their rights, they can contact the internal privacy team.
</p>
<p>By using our internal HMO staff system, staff members agree to the terms outlined in this privacy policy regarding the handling of health fund member information.</p>